---
import Layout from '../layouts/Layout.astro';
import BentoGrid from '../components/BentoGrid.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
import '@fontsource-variable/plus-jakarta-sans';
import '@fontsource/press-start-2p';
---

<Layout title="Naufal Rizky - Links">
  <main class="min-h-screen bg-background-light dark:bg-background-dark transition-colors duration-300">
    <ThemeSwitcher />
    <div class="container mx-auto py-20 px-4">
      <BentoGrid />
    </div>
  </main>
</Layout>

<style>
  :root {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
  }
</style>